<div class="container">
<p id="notice"><%= notice %></p>
<h1 style="text-align: center;">Big Boss' News Network Inc. 🕴️</h1>
<%= link_to 'Add new news', new_news_path, class: "badge badge-primary" %>
<%= button_to 'Scrape News', scrape_news_index_path %>
<br>
<table>
  <thead>
    <tr>
      <th>Headline</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @news.each do |news| %>
      <tr>
        <td style="font-size:20px;"><%= news.title %>
          <a href="<%= news.link %>">Get the full scoop!</a>
        </td>
        <td><%= link_to 'Delete', news, method: :delete, data: { confirm: 'Why are you like this??' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>