<p id="notice"><%= notice %></p>

<p>
  <strong>Headline:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @news.link %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
